.loginFormStyling{
    width: 45vw;
    margin-top: 30vh;
}
.loginBtnStyling{
    background-color: #ba73be;
    color: white;
    margin-left: 12vw;
}

@media screen and (max-width : 900px){
    body{
        overflow: hidden;
    }
  .loginFormStyling{
    width: 90vw;
    margin-top: 5vh;

    }
}