.imgContainer{
    overflow: hidden;
}
.imgStyling{
    display: inline-block;
    width: 70vw;
    height: 70vh;
}

@media screen and (max-width : 900px){
    .imgContainer{
        display: none;
    }.imgStyling {
        display: none;
        width: 70vw;
        height: 70vh;
    }
}